*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    justify-content: center;
    background: linear-gradient(rgba(0,0,0,0.6)),url(mec.jpg);
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-items: center;
    background-size: cover;
    background-position: center;
}
.content{
    text-align: center;
    background: rgba(31, 2, 2, 0.1);
    position: relative;
    width: 520px;
    padding: 15px;
    border-radius: 16px;
    border: solid 5px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(25px);
    box-shadow: 0px 0px 30px rgb(0,0,0, 0.1);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content input{
    color: brown;
}
h1{
    color: orange;
    padding: 15px;
}
input{
    height:  40px;
    border-radius: 7px;
    border: none;
    width: 90%;
    color: brown;
    font-style: italic;
    font-size: 19px;
}
a{
    display: block;
    text-decoration: none;
    color: orangered;
    margin-left: 50%;
    font-style: italic;
    font-size: 17px;
}
label{
    font-size: 20px;
}
#ppp{
    display: flex;
    margin: 7px;
    
}
#MTK{
  background-color: brown;
}
:placeholder-shown{
    background-color: rgb(76, 74, 74);
    border: 2px solid royalblue;
}
button{
    width: 40%;
    height: 26px;
    padding: 20px;
    border: none;
    border-radius: 8px;
    color: black;
    background: orange;
    font-size: 17px;
    
}
#kkk{
    display: flex;
    background-color: brown;
    border-radius: 22px;
}
button:hover{
    transform: scale(30px);
    zoom: 1.6;
    border-radius: 16px;
    color: white;
    background: cornflowerblue;
}

